
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

::-webkit-scrollbar {
    width: 10px;
  
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  
  }
  ::-webkit-scrollbar:hover {
    background: white;
    width:10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7D41E2;
    
    border-radius: 80px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    
   
  }
  
  

*{
    margin: 0;
    padding: 0;
}


body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    /* background-color: black; */
    
}
.darktheme{
    --element-color:white;
    --element1-color:#9DB2BF;
    --element2-color: #DDE6ED;
    background-color: black;
    color: white;

}

#themeImg{
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: none;
}


.navbar {
    width: 100vw;
    height: 80px;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: space-between;
}

/* Sec-1 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.navs1{
    /* border: 1px solid black; */
    width: 15vw;
    height: 80px;
    display: flex;
    align-items: center;
    margin-left: 3.5vw;
}
.navs1 img{
    /* border: 1px solid black; */
    width: 3vw;
    height: 3vw;
    border-radius: 10vw;
}
.navs1 a{
    text-decoration: none;
    color: #7D41E2;
}
.span1{
    margin-left: 1vw;
    font-size: 2em;
    font-weight: bold;
    color: #7D41E2;
}
.span2{
    font-size: 2em;
    font-weight: bolder;
    color: #7D41E2;
}






/* Sec-2 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.navs2{
    /* border: 1px solid black; */
    width: 25vw;
    height: 80px;
    display: flex;
    align-items: center;
    margin-right: 1vw;
}
.navs2>img{
    cursor: pointer;
    width: 2vw;
    height: 2vw;
    margin: 0 0.5vw;

}
.navbtn1{
    cursor: pointer;
    height: 2vw;
    width: 7vw;
    margin: 0 1vw;
    border-radius: 0.5vw;
    border: 1px solid whitesmoke;
    background-color: #7D41E2;
    font-size: 0.7em;
    

}
.navbtn2{
    cursor: pointer;
    height: 2vw;
    width: 9vw;
    margin: 0 1vw;
    border-radius: 0.5vw;
    border: none;
    background-color: #2a95f6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbtn2>img{
    border: 1px solid black;
    width: 1vw;
    height: 1vw;
    /* margin: 0 0.5vw; */
}
.navbtn2 span{
    margin-left: 0.3vw;
}

.txtColor{
    color: white;
}